<!doctype html>
<html class="no-js" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sistema Nacional de Monitoreo de Emisiones Forestales (SINAMEF)</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/foundation.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/foundation-icons/foundation-icons.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/dataTables.foundation.css') }}">

<script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>


</head>
<body>
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1>
					<a href="#"> Sistema Nacional de Monitoreo de Emisiones Forestales </a>
				</h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<li class="divider"></li>
				<li><a href="#" data-reveal-id="antecedentesModal"><i class="fi-trees"></i> Antecedentes</a>
				<div id="antecedentesModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"></div></li>
				<li class="divider"></li>
				<li class="has-dropdown"><a href="#"><i class="fi-database"></i> Metadatos</a>
					<ul class="dropdown">
						<li><a href="#">nivel de OBSERVACIÓN</a></li>
						
						<li><a href="#" data-reveal-id="observacionModal">para VIVOS, MUERTOS EN PIE Y TOCONES</a>
						<div id="observacionModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"></div></li>
						<li class="divider"></li>
						<li><a href="#">nivel de UDM</a></li>
						<li><a href="#" data-reveal-id="udmModal">para VIVOS, MUERTOS EN PIE Y TOCONES</a>
						<div id="udmModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"></div></li>
						
						<li class="divider"></li>
						<li><a href="#">nivel de ESTRATO</a></li>
						<li class="divider"></li>
						<li><a href="#">nivel NACIONAL</a></li>
						
					</ul></li>
			</ul>
		</section>
	</nav>
	<div class="row">
		<div class="large-4 columns">
			<h1>
				<i class="fi-wrench"></i> SINAMEF</h1>

		</div>
		<div class="large-8 columns">
			<h3></h3>
		</div>
	</div>
	<div class="row">
		<div class="large-8 push-4 columns">
			<table id="strata" class="display" cellspacing="0" width="100%">
				<caption id="tableCaption">
					<i>Por favor marcar un reporte.</i>
				</caption>
			</table>

			<ul class="inline-list right">
				<li><a id="DownloadLink" href="#"><i class="fi-page-export-csv"></i> Exportar como Excel archivo</a></li>
			</ul>
		</div>
		<div class="large-4 pull-8 columns">
			<ul class="accordion" data-accordion role="tablist">
				<li class="accordion-navigation"><a href="#panel1d" role="tab" id="panel1d-heading" aria-controls="panel1d" 
				data-tooltip aria-haspopup="true" title="Nivel del reporte">Observación</a>
					<div id="panel1d" class="content active" role="tabpanel" aria-labelledby="panel1d-heading">
						<ul class="stack button-group" id="observationGroup">
							<label id="observationPeriod"><span data-tooltip class="has-tip" title="Ciclo del INFyS">Período</span> <select>
									<option value="T1">2004-2007 (ciclo 1)</option>
									<option value="T2">2009-2013 (ciclo 2)</option>
							</select>
							</label>
							<li><a id="ObservationAV" href="#" class="button"><i class="fi-trees"></i>
							<span data-tooltip aria-haspopup="true" title="Biomasa Aerea en Toneladas por Hectárea">Biomasa aérea</span></a></li>
							<li><a id="ObservationSAV" href="#" class="button disabled"><i class="fi-trees"></i>
							<span data-tooltip aria-haspopup="true" title="Biomasa Subterránea en Toneladas por Hectárea">Biomasa subterránea</a></li>
							<li><a aria-controls="ObservacionAlmacen" aria-expanded="false" data-dropdown="ObservacionAlmacen" href="#" class="button dropdown">
							<i class="fi-dropdown"></i>Madera muerta</a>
							
							<ul id="ObservacionAlmacen" data-dropdown-content class="f-dropdown" aria-hidden="true">
	 							<li><a id="ObservationMEP" href="#" class="button disabled"><i class="fi-trees"></i>
	 							<span data-tooltip aria-haspopup="true" title="Biomasa de Arboles Muertos en Pie en Toneladas por Hectárea">Arboles muertos en pie</a></li>
								<li><a id="ObservationT" href="#" class="button"><i class="fi-trees"></i>
								<span data-tooltip aria-haspopup="true" title="Biomasa de Tocones en Toneladas por Hectárea">Tocones</a></li>
								<li><a id="ObservationMLC" href="#" class="button"><i class="fi-trees"></i>
								<span data-tooltip aria-haspopup="true" title="Biomasa de Material Leñoso Caído en Toneladas por Hectárea">Mat. Leñoso Caído</a></li>
							</ul>
							</li>
							
							<li><a href="#" class="button disabled"><i class="fi-trees"></i>
							<span data-tooltip aria-haspopup="true" title="Biomasa de la Capa de Hojarasca y Fermentación en Toneladas por Hectárea">Hojarasca</a></li>
							<li><a href="#" class="button disabled"><i class="fi-trees"></i>
							<span data-tooltip aria-haspopup="true" title="Biomasa de Materia Orgánica en Suelos en Toneladas por Hectárea">Suelos</a></li>
						</ul>
					</div></li>

				<li class="accordion-navigation"><a href="#panel2d" role="tab" id="panel2d-heading" aria-controls="panel2d" 
				data-tooltip aria-haspopup="true" title="Nivel del reporte">Unidad de
						Muestreo</a>
					<div id="panel2d" class="content" role="tabpanel" aria-labelledby="panel2d-heading">
						<ul class="stack button-group">
							<label id="udmPeriod">Período <select>
									<option value="T1">2004-2007 (ciclo 1)</option>
									<option value="T2">2009-2013 (ciclo 2)</option>
							</select>
							</label>
							<li><a id="UdmAV" href="#" class="button"><i class="fi-trees"></i>
							<span data-tooltip aria-haspopup="true" title="Biomasa Aerea en Toneladas por Hectárea">Biomasa aérea</span></a></li>
							<li><a id="UdmSAV" href="#" class="button"><i class="fi-trees"></i>
							<span data-tooltip aria-haspopup="true" title="Biomasa Subterránea en Toneladas por Hectárea">Biomasa subterránea</a></li>
							<li><a aria-controls="UdmAlmacen" aria-expanded="false" data-dropdown="UdmAlmacen" href="#" class="button dropdown">
							<i class="fi-dropdown"></i>Madera muerta</a>
							
							<ul id="UdmAlmacen" data-dropdown-content class="f-dropdown" aria-hidden="true">
	 							<li><a id="UdmM" href="#" class="button"><i class="fi-trees"></i>
	 							<span data-tooltip aria-haspopup="true" title="Biomasa de Arboles Muertos en Pie en Toneladas por Hectárea">Arboles muertos en pie</a></li>
								<li><a id="UdmT" href="#" class="button"><i class="fi-trees"></i>
								<span data-tooltip aria-haspopup="true" title="Biomasa de Tocones en Toneladas por Hectárea">Tocones</a></li>
								<li><a href="#" class="button disabled"><i class="fi-trees"></i>
								<span data-tooltip aria-haspopup="true" title="Biomasa de Material Leñoso Caído en Toneladas por Hectárea">Mat. Leñoso Caído</a></li>
							</ul>
							</li>
							
							<li><a href="#" class="button disabled"><i class="fi-trees"></i>Hojarasca</a></li>
							<li><a href="#" class="button disabled"><i class="fi-trees"></i>Suelos</a></li>
						</ul>
					</div></li>

				<li class="accordion-navigation"><a href="#panel3d" role="tab" id="panel3d-heading" aria-controls="panel3d"
				data-tooltip aria-haspopup="true" title="Nivel del reporte">Estrato</a>
					<div id="panel3d" class="content" role="tabpanel" aria-labelledby="panel3d-heading">
						<label>Subcategoría <select id="strataSubcategory">
								<option value="tf-tf">TF-TF (Tierras Forestales convertidas en Tierras Forestales)</option>
								<option value="tfd-tf">TFd-TF (Tierras Forestales degradadas convertidas en Tierras Forestales)</option>
								<option value="tf-tfd">TF-TFd (Tierras Forestales convertidas en Tierras Forestales degradadas)</option>
								<option value="tf-ot">OT-TF (Otras Tierras convertidas en Tierras Forestales)</option>
								<option value="ot-tf">OT-TF (Otras Tierras convertidas en Tierras Forestales)</option>
						</select>
						</label> <label>Estratificación <select id="strataStratification">
								<option value="madmex">MADMex (32 Clases)</option>
								<option value="bur">INEGI (Clases BUR)</option>
								<option value="inegi">INEGI (Clases MADMex)</option>
						</select>
						</label> <label>Período <select id="strataPeriod">
								<option value="T1">2004-2007 (ciclo 1)</option>
								<option value="T2">2009-2013 (ciclo 2)</option>
						</select>
						</label> <label>Depósito<select id="strataDeposit">
								<option value="carbono_arboles">Biomasa Aérea</option>
								<option value="carbono_subterranea" disabled>Biomasa Subterránea</option>
								<option value="carbono_tocones">Madera Muerta</option>
								<option value="carbono_hojarasca" disabled>Hojarasca</option>
								<option value="carbono_organica_suelo" disabled>Materia Orgánica del Suelos</option>

						</select>
						</label>
					</div></li>

				<li class="accordion-navigation"><a href="#panel4d" role="tab" id="panel4d-heading" aria-controls="panel4d"
				data-tooltip aria-haspopup="true" title="Nivel del reporte">Nacional</a>
					<div id="panel4d" class="content" role="tabpanel" aria-labelledby="panel4d-heading">
						<ul class="stack button-group" id="observationGroup">
							<label id="nationalPeriod">Período <select>
									<option value="T1">2004-2007 (ciclo 1)</option>
									<option value="T2">2009-2013 (ciclo 2)</option>
							</select>
							</label>
							<li><a id="nationalBUR" href="#" class="button"><i class="fi-trees"></i>INEGEI-BUR (USCUSS)</a></li>
							<li><a id="nationalREDD+" href="#" class="button disabled"><i class="fi-trees"></i>Reporte REDD+</a></li>
							<li><a href="#" class="button disabled"><i class="fi-trees"></i>Reporte REDD+</a></li>
							<li><a href="#" class="button disabled"><i class="fi-trees"></i>Reporte NREF</a></li>
						</ul></li>
			</ul>
			<p>
				<img src="{{ url_for('static', filename='images/banner_pg_sistema.png') }}" />
			</p>
		</div>
	</div>


	<!-- General footer elements  -->
	<footer class="row">
		<div class="large-12 columns">
			<hr />
			<div class="row">
				<div class="large-6 columns">
					<p>© Copyright.</p>
				</div>
				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="#" data-reveal-id="supportModal">Soporte</a>
						<div id="supportModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						  <h2 id="modalTitle">Soporte del sistema</h2>
						  <p class="lead">Descripcion</p>
						  <p>Informaciones...</p>
						  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
						</div>
						</li>
						<li><a href="#" data-reveal-id="documentationModal">Documentación</a>
						<div id="documentationModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						  <h2 id="modalTitle">Documentacion del sistema</h2>
						  <p class="lead">Descripcion</p>
						  <p>Informaciones...</p>
						  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
						</div>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dataTables.foundation.js') }}"></script>
	<script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>

	<script>
	var getUrl = window.location;
	var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
	var DEFAULT_OUTPUT_FORMAT = "{{DEFAULT_OUTPUT_FORMAT}}";

	var FEcolumns = [];
	var FEcolumnsDegrad = [];
	var ObservationCarbonoAereoColumns = [];
	var UdmVivoColumns = [];
	var UdmRaicesColumns = [];
	var UdmMuertosColumns = [];
	var UdmToconesColumns = [];
	var NationalReportColumns = [];

	var struct = {{table_structure|safe}};
	
	for (var col in struct["carbono5"]["columns"])
	{
		FEcolumns.push({"data":struct["carbono5"]["columns"][col].data, "title":struct["carbono5"]["columns"][col].title});
	}
	
	for (var col in struct["base_observation_carbono_aereo"]["columns"])
	{
		ObservationCarbonoAereoColumns.push({"data":struct["base_observation_carbono_aereo"]["columns"][col].data, "title":struct["base_observation_carbono_aereo"]["columns"][col].title});
	}
	
	for (var col in struct["base_udm_vivo"]["columns"])
	{
		UdmVivoColumns.push({"data":struct["base_udm_vivo"]["columns"][col].data, "title":struct["base_udm_vivo"]["columns"][col].title});
	}
	
	for (var col in struct["base_udm_raices"]["columns"])
	{
		UdmRaicesColumns.push({"data":struct["base_udm_raices"]["columns"][col].data, "title":struct["base_udm_raices"]["columns"][col].title});
	}
	
	for (var col in struct["base_udm_muertos"]["columns"])
	{
		UdmMuertosColumns.push({"data":struct["base_udm_muertos"]["columns"][col].data, "title":struct["base_udm_muertos"]["columns"][col].title});
	}
		
	for (var col in struct["base_udm_tocones"]["columns"])
	{
		UdmToconesColumns.push({"data":struct["base_udm_tocones"]["columns"][col].data, "title":struct["base_udm_tocones"]["columns"][col].title});
	}
	for (var col in struct["refoRecu"]["columns"])
	{
		FEcolumnsDegrad.push({"data":struct["refoRecu"]["columns"][col].data, "title":struct["refoRecu"]["columns"][col].title});
	}
	

	var NationalReportColumns = [{
		"data" : "Dinamica", "title":"Cambio de Uso de Suelo"}, {
		"data" : "Area", "title":"Superficie (ha)"}, {
		"data" : "EmisionesAbsorciones", "title":"Emisiones de C (tonC)"}, {
		"data" : "U", "title":"Incertidumbre (%)"
	}]
	</script>

	<script src="{{ url_for('static', filename='js/sinamef.js') }}"></script>

	<script>
		$(document).foundation({
			  tooltip: {
				    selector : '.has-tip',
				    additional_inheritable_classes : [],
				    tooltip_class : '.tooltip',
				    touch_close_text: 'tap to close',
				    disable_for_touch: false,
				    tip_template : function (selector, content) {
				      return '<span data-selector="' + selector + '" class="'
				        + Foundation.libs.tooltip.settings.tooltip_class.substring(1)
				        + '">' + content + '<span class="nub"></span></span>';
				    }
				  }
				});
	</script>
</body>
</html>